<!DOCTYPE html>

<html lang="en">
<head>
  <title><%= current_page.data.title %></title>

  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1.0, width=device-width" />
  <meta name="author" content="Brandon Weiss" />

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>

  <link rel="alternate" type="application/atom+xml" title="Anti-pattern" href="/feed">

  <%= yield_content :head %>
</head>

<body>
  <header class="header">
    <p class="center">
      This is <%= link_to "Anti-pattern", "/" %><span class="show-small">—thoughts on programming
      <span class="show-medium">and whatnot</span>
      by <a href="http://brandonweiss.me">Brandon Weiss</a></span>.
    </p>
  </header>

  <section class="content">
    <%= yield %>
  </section>

  <footer class="footer">
    <div class="avatar center">
      <%= image_tag "avatar.png" %>
    </div>

    <p class="h3 center name">Brandon Weiss</p>

    <p class="links center">
      <%= link_to "@brandon_weiss", "https://twitter.com/brandon_weiss", class: "button" %>
      <%= mail_to "brandon@anti-pattern.com", "brandon@anti-pattern.com", class: "button" %>
      <%= link_to "Subscribe", config[:feed_path], class: "button" %>
    </p>
  </footer>

  <%= partial "tracking" %>
</body>
</html>
